:root {
}

* {
  padding: 0;
  margin: 0;
}

/* Header */

header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.2rem;
  flex-direction: row;
  background-color: aqua;
  justify-content: space-between;
  border-radius: 1.5rem;
}

.logoImg svg {
  width: auto;
  height: auto;
  margin: 0.2rem 0px 0px 0.7rem;
  overflow: hidden;
}

/*  Nav Bar  */
.NavBar ul {
  list-style-type: none;
  display: inline-flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.NavBar ul li a {
  text-decoration: none;
  color: rgb(22, 7, 7);
}

.NavBar ul li a:hover {
  background-color: #111111;
}

.Accounts svg {
  border-left: 1px solid/ black;
  width: auto;
  height: auto;
  /* border-radius: 50%; */
  margin: 0.2rem 0.7rem 0px 0px;
  overflow: hidden;
}

/* ----------- Media and responsive -------------- */

/* 0 - 600 */
/* Only Screen for before the 90's if " Only Screen " doesn't exist in our code they see mobile version on their Pc */
/* Orientation is when turn the phone horizontally : portrait */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .logoImg svg {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.2rem 0px 0px 0.7rem;
    overflow: hidden;
    background-color: #111111;
    padding: 0.3rem;
    border-radius: 50%;
    position:sticky;
  }

  .Accounts svg {
    width: auto;
    position: sticky;
    height: auto;
    /* border-radius: 50%; */
    margin: 0.2rem 0.7rem 0px 0px;
    overflow: hidden;
    background-color: #c90505;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.3rem;
    border-radius: 50%;
  }
  /* NavBar Down */
  header {
    background-color: transparent;
    margin-top: 5px;
  }
  .NavBar {
    display: none;
  }
  .SearchButton {
    display: none;
  }
}

/* 601 - 768 / Tablet*/
@media only screen and (min-width: 601px) and (max-width: 768px) {
}

/* 769 - 991 / Lager Tablet */
@media only screen and (min-width: 769px) and (max-width: 992px) {
}
/* 992 - 1000   */
@media only screen and (min-width: 992px) {
}

/* 4k - 1208 To 2560  */

/*  <600px , 601px , 768px , 992px , above 1200px*/
/* Highest width display is 8k : 7680pixels */

@supports (height: 100dvh) {
  body,
  .content-top {
    height: 100dvh;
  }

  @media only screen and (max-width: 600px) {
    .wrapper-main {
      height: calc(100dvh - 16px);
    }
  }
}

/* Fallback for iOS old */
@supports not (height: 100dvh) {
  body,
  .content-top {
    height: -webkit-fill-available;
  }
}
