:root {
}

* {
  padding: 0;
  margin: 0;
}

/* Header */

header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.2rem;
  flex-direction: row;
  background-color: aqua;
  justify-content: space-between;
  border-radius: 1.5rem;
}

.logoImg svg {
  width: auto;
  height: auto;
  margin: 0.2rem 0px 0px 0.7rem;
  overflow: hidden;
}

/*  Nav Bar  */
.NavBarDesktop ul {
  list-style-type: none;
  display: inline-flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.NavBarDesktop ul li a {
  text-decoration: none;
  color: rgb(22, 7, 7);
}

.NavBarDesktop ul li a:hover {
  background-color: #111111;
}

.Accounts svg {
  border-left: 1px solid/ black;
  width: auto;
  height: auto;
  /* border-radius: 50%; */
  margin: 0.2rem 0.7rem 0px 0px;
  overflow: hidden;
}
/* 
.Top {
  background: linear-gradient(135deg, #ffd700 0%, #ffed4e 100%);
} */

.HeroBanner {
  background: linear-gradient(135deg, #ffd700 0%, #e7be24 100%);
  display: flex;
  overflow: hidden;
  /* padding-top: 50px; */
  /* padding-bottom: 60px; */
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0px 1px 0px 0px;
  /* gap: 20px; */
}

.Hero-Banner {
  width: 170px;
  height: 200px;
  object-fit: fill;
}
.hero-content {
  display: flex;
  flex-direction: column;
  /* color: #000; */
  flex: 1;
  /* gap: ; */
  font-family: "Inter", "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  flex-wrap: wrap;
}

.metadata {
  display: flex;
  flex-direction: row;
  margin: 0.2rem 0.2rem;
  gap: 1rem;
  font-size: 0.6rem;
  color: #97720d;
}

.descrip {
  font-size: 0.7rem;
  color: #97720d;
  padding-right: 1rem;
}

.separator {
  width: 100%;
  height: 1px;
  background: #97720d;
  margin: 15px 0;
  margin-right: 1rem;
}

/* Button */

.hero-buttons{
  display: flex;
  flex-direction: row;
}
.btn-First {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  color:white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  cursor: pointer;
  border: solid 2px black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  background-color: #e7be24;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.btn-First:active {
  transform: scale(0.9);
  transition: all 100ms ease;
}

.btn-First svg {
  transition: all 0.5s ease;
  z-index: 2;
}

.play {
  transition: all 0.5s ease;
  transition-delay: 300ms;
}

.btn-First:hover svg {
  transform: scale(3) translate(50%);
}

.now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 2;
}

.btn-First:hover .now {
  transform: translateX(10px);
  transition-delay: 300ms;
}

.btn-First:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}


/* ----------- Media and responsive -------------- */

/* 0 - 600 */
/* Only Screen for before the 90's if " Only Screen " doesn't exist in our code they see mobile version on their Pc */
/* Orientation is when turn the phone horizontally : portrait */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .logoImg svg {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.2rem 0px 0px 0.7rem;
    overflow: hidden;
    background-color: #111111;
    padding: 0.3rem;
    border-radius: 50%;
  }

  .Accounts svg {
    width: auto;
    height: auto;
    /* border-radius: 50%; */
    margin: 0.2rem 0.7rem 0px 0px;
    overflow: hidden;
    background-color: #111111;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.3rem;
    border-radius: 50%;
  }

  /* NavBar Down */
  header {
    display: none;
  }
  .NavBarDesktop {
    display: none;
  }
  .SearchButton {
    display: none;
  }

  .TopNavBar {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    /* margin-top: 5px; */
    position: sticky;
    top: 3dvh;
    z-index: 998;
  }

  /* .logoImg button {
    
  }

  .Accounts button{
border-radius: 50%;
  } */

  .NavBarMobile svg,
  .NavBarMobile img {
    height: 20px;
    width: 20px;
    fill: #ffd700;
    stroke: #ffd700;
  }
  .soccer-icon {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 30px !important;
    width: 30px !important;
  }

  .NavBarMobile {
    position: sticky;
    top: 90dvh;
    /* bottom: 100dvh; */
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 70%;
    height: 28px;
    align-items: center;
    justify-content: space-around;
    border-radius: 1em;
    box-shadow: 0px 5px 9px 2px rgba(0, 0, 0, 0.308);
    -webkit-box-shadow: 0px 5px 9px 2px rgba(0, 0, 0, 0.432);
    margin: 0 auto;
    padding: 0.1rem 0;
    display: none;
  }
  .button {
    outline: 0 !important;
    border: 0 !important;
    /* width: 20px; */
    /* height: 20px; */
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  .button:hover {
    transform: translateY(-3px);
  }
}

/* 601 - 768 / Tablet*/
@media only screen and (min-width: 601px) and (max-width: 768px) {
}

/* 769 - 991 / Lager Tablet */
@media only screen and (min-width: 769px) and (max-width: 992px) {
}
/* 992 - 1000   */
@media only screen and (min-width: 992px) {
}

/* 4k - 1208 To 2560  */

/*  <600px , 601px , 768px , 992px , above 1200px*/
/* Highest width display is 8k : 7680pixels */

@supports (height: 100dvh) {
  body,
  .content-top {
    height: 100dvh;
  }

  @media only screen and (max-width: 600px) {
    .wrapper-main {
      height: calc(100dvh - 16px);
    }
  }
}

/* Fallback for iOS old */
@supports not (height: 100dvh) {
  body,
  .content-top {
    height: -webkit-fill-available;
  }
}
